@using System.Security.Cryptography.X509Certificates
@model Blog
@{
    ViewData["Title"] = "BlogEdit";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Güncelle</h4>
            <p class="card-description"> İçerik Düzenleme </p>
            <form class="forms-sample" method="post" asp-action="BlogEdit">
                <input type="text" class="form-control" id="exampleInputName1" placeholder="BlogId" name="BlogId" value="@Model.BlogId">
                <div class="form-group">
                    <label for="exampleInputName1">BlogTitle</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="BlogTitle" name="BlogTitle" value="@Model.BlogTitle">
                    <span asp-validation-for="BlogTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">BlogContent</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="BlogContent" name="BlogContent" value="@Model.BlogContent">
                    <span asp-validation-for="BlogContent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Kategoriler</label>
                    @Html.DropDownListFor(x=>x.CategoryId,(List<SelectListItem>)ViewBag.KategoriListesi,new {@class="form-control"})
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Güncelle</button>
            </form>
        </div>
    </div>
</div>