<div class="comment-top">
    <h4>Leave a Comment</h4>
    <div class="comment-bottom">
        <form action="/Comment/AddCommentPartial/" method="post">
            <input class="form-control" type="text" name="CommentUserName" placeholder="Ad" required="">
            <input class="form-control" type="email" name="CommentTitle" placeholder="E-Posta" required="">
            <textarea class="form-control" name="CommentContent" placeholder="Mesaj" required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Ekle</button>
        </form>
    </div>
</div>