@model List<Message2>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="page-header">
    <h3 class="page-title"> Yazarın Mesajları Gelen </h3>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bloglar</h4>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Konu</th>
                            <th>Gönderen</th>
                            <th>Tarih</th>
                            <th>Mesajı Aç</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.MessageId</td>
                                <td>@item.Subject</td>
                                <td>@item.SenderUser.WriterName</td>
                                <td>@(((DateTime)item.MessageDate).ToString("dd-MM-yyyy"))</td>
                                <td><a href="/Message/MessageDetails/@item.MessageId" class="btn btn-outline-warning btn-fw">Mesajı Aç</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <a href="" class="btn btn-outline-info btn-fw">Yeni Mesaj Oluştur</a>
    </div>
</div>